@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 500px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 501px) and (max-width: 900px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 901px) and (max-width: 1200px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1201px) and (max-width: 1800) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1801px) { @content; }
  }
}
  
.portContainer {
    width: 100%;
    height: 750px;
    background-color: #0011D1;
    background-image: url("../../media/portfolio_filler.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 1px;

    @include for-size (phone-only) {
        display: flex;
        flex-direction: column;
        background-image: none;
        height: 100%;
        padding: 20px 0;
    }

    @include for-size (tablet-portrait-up) {
      height: 600px;
    }

    @include for-size (tablet-landscape-up) {
      height: 650px;
    }
}

.portTitle {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;

    @include for-size (phone-only) {
        font-size: 1.8rem;
        margin: -40px 0;
    }
}

.portProjectContainer {
    display: flex;
    justify-content: space-around;
    
    @include for-size (phone-only) {
        flex-direction: column;
        width: 100%;
    } 
}

.portSoloProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
    font-size: 2.2em;

    @include for-size (phone-only) {
        font-size: 1.8em;
        width: 100%;
    }

    @include for-size (tablet-portrait-up) {
      font-size: 1.5rem;
    }
}

.portProjectTitle {
    margin-bottom: 15px;

    @include for-size (tablet-portrait-up) {
      margin: 10px 0;
    }

    @include for-size (tablet-landscape-up) {
      margin: 10px 0;
    }
}

.portProjectImg {
    width: 100%;

    @include for-size (phone-only) {
        width: 65%;
    }
}