.portContainer {
    width: 100%;
    height: 725px;
    background-color: #0011D1;
    background-image: url("../../media/portfolio_filler.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.portTitle {
    width: 100%;
    text-align: center;
    font-size: 2.2em;
}

.portProjectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portSoloProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
    font-size: 1.7em;
}

.portProjectImg {
    width: 100%;
}

.portFillerImgContainer {
    margin: auto;
    width: 50%;
}

.portFillerImg {
    width: 100%;
}