@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 600px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }
.portContainer {
    width: 100%;
    height: 750px;
    background-color: #0011D1;
    background-image: url("../../media/portfolio_filler.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;

    @include for-size (phone-only) {
        display: flex;
        flex-direction: column;
        background-image: none;
        height: 100%;
        padding: 20px 0;
    }
}

.portTitle {
    width: 100%;
    text-align: center;
    font-size: 2.2em;

    @include for-size (phone-only) {
        font-size: 1.8em;
        margin: -40px 0;
    }
}

.portProjectContainer {
    display: flex;
    justify-content: space-around;
    
    @include for-size (phone-only) {
        flex-direction: column;
        width: 100%;
    } 
}

.portSoloProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
    font-size: 2.2em;

    @include for-size (phone-only) {
        font-size: 1.8em;
        width: 100%;
    }
}

.portProjectTitle {
    margin-bottom: 15px;
}

.portProjectImg {
    width: 100%;

    @include for-size (phone-only) {
        width: 65%;
    }
}