.aboutContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #4A91E8;
    height: 600px;
}

.myImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.myImgStyle {
    width: 66%;
}

.aboutTextContainer {
    margin: auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTextTitle {
    font-size: 2.2em;
}

.aboutPStyle {
    width: 75%;
}

.fillerImgStyle {
    width: 80%;
}
