@mixin for-phone-only {
    @media (max-width: 420px) {@content}
}

.aboutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #4A91E8;

    @include for-phone-only {
        flex-direction: column;
    }
}

.myImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

    @include for-phone-only {
        width: 100%;
    }
}

.myImgStyleDesktop {
    width: 66%;

    @include for-phone-only {
        display: none;
    }
}

.myImgStylePhone {
    display: none;

    @include for-phone-only {
        display: inline-block;
        width: 50%;
        margin-top: 20px;
        margin  : 0;
    }
}

.aboutTextContainer {
    margin: auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-phone-only {
        width: 100%;
    }
}

.aboutTextTitle {
    font-size: 2.2em;

    @include for-phone-only {
        font-size: 1.8em;
    }
}

.aboutPStyle {
    width: 75%;

    @include for-phone-only {
        margin-bottom: 0;
    }
}

.fillerImgStyle {
    width: 80%;

    @include for-phone-only {
        width: 65%;
    }
}
