.aboutContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #4A91E8;
    height: 600px;
}

.myImgContainer {
    display: flex;
    align-items: center;
    width: 45%;
}

.myImgStyle {
    width: 60%;
}

.aboutTextContainer {
    margin: auto;
    width: 50%;
    text-align: center;
}

.aboutTextTitle {
    font-size: 2.2em;
}

.fillerImgStyle {
    width: 80%;
}
