@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 600px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }

.contactContainer {
    width: 100%;
    background-color: #784AE8;
    display: flex;
    justify-content: space-around;
}

.fillerContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-content: space-between;

    @include for-size (phone-only) {
        display: none;
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    align-items: center;

    @include for-size (phone-only) {
        width: 100%;
    }

    .containerTitle {
        font-size: 2.2em;
        margin: -20px 0;
    }

    @include for-size (phone-only) {
        .containerTitle {
            font-size: 1.8em;
        }
    }

    .formContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include for-size (phone-only) {
            width: 75%;
        }
    }

    form {
        text-align: center;

        label, input {
            margin: 0.75em;
        }
    }

    textarea {
        width: 100%;
    }

    @include for-size (phone-only) {
        textarea {
            width: 100%;
        }
    }
}

.textBox {
    height: 350px;
    margin: 1em auto; 

    @include for-size (phone-only) {
        margin: 1em auto;
    }
}