.headerContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.headerBackgroundImg {
    width: 100%;
}

.textStyle1 {
    height: 50%;
    width: 55%;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textStyle2 {
    height: 65%;
    width: 100%;
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}